.header {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  &-logo {
    display: flex;
    align-items: center;
    &__img {
      display: block;
      width: 40px;
      margin-right: 15px;
    }
    &__title {
      font-size: 20px;
      color: #000;
    }
    &__text {
      font-size: 14px;
      color: #000;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
      margin-right: 30px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      & span {
        font-weight: bold;
        margin-left: 5px;
        color: #5c5c5c;
      }
      & img {
        width: 20px;
      }
    }
  }
}
